# Auto detect text files and perform LF normalization
* text=auto

# Scripts
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

# Documentation and data
*.md text
*.json text
*.yml text
*.yaml text
